        <div id="footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-12" style="text-align: center">
                <p><a href="http://www.campaignpanel.com/about">About</a> | <a href="http://www.campaignpanel.com/privacy-policy">Privacy</a> | <a href="http://www.campaignpanel.com/terms-of-service">Terms</a> | <a href="mailto:hello@campaignpanel.com">Help</a></p>
                <p>Copyright 2014, Campaign Panel Pty Ltd. All Rights Reserved</p>
                <p>&nbsp;</p>
                <p>
                  <a href="mailto:hello@campaignpanel.com" title="Campaign Panel Email - hello@campaignpanel.com"><img src="<%= image_url('48x48/email.png') %>" border="0" alt="Email Logo" width="32" height="32"></a>
                  <a href="https://www.facebook.com/campaignpanel" title="Campaign Panel Facebook Page"><img src="<%= image_url('48x48/fb.png') %>" border="0" alt="Facebook Logo" width="32" height="32"></a>
                  <a href="https://plus.google.com/b/110839110631522214862/dashboard/overview" title="Campaign Panel Google+ Page"><img src="<%= image_url('48x48/google+.png') %>" border="0" alt="Google+ Logo" width="32" height="32"></a>
                  <a href="#" title="Campaign Panel Linkedin Page"><img src="<%= image_url('48x48/linkedin.png') %>" border="0" alt="Linkedin Logo" width="32" height="32"></a>
                  <a href="https://twitter.com/campaignpanel" title="Campaign Panel Twitter Account"><img src="<%= image_url('48x48/twitter.png') %>" border="0" alt="Twitter Logo" width="32" height="32"></a>
                  <a href="http://www.campaignpanel.com/" title="Campaign Panel Blog"><img src="<%= image_url('48x48/wordpress.png') %>" border="0" alt="WordPress Logo" width="32" height="32"></a>
                  <a href="https://www.youtube.com/campaignpanel" title="Campaign Panel YouTube Page"><img src="<%= image_url('48x48/youtube.png') %>" border="0" alt="YouTube Logo" width="32" height="32"></a>
                </p>
              </div>
            </div>
          </div>
        </div>
