<header class="main-nav">
    <%= link_to "Rails-SaaS-Template", root_path %>
    <a href="#" class="visible-xs-inline mobile-nav"><%= fa_icon 'bars' %></a>
</header>

<nav id="left-side-nav" class="hidden-xs">
   <ul class="side-nav">
<% sidebar_menu.each do |key, menu_item| %>
      <li<%if sidebar_item == key %> class="active"<% end %>>
<% if menu_item.has_key?(:submenu) %>
        <% is_expanded = sidebar_item.to_s.starts_with?(key.to_s) %>
        <%= link_to "#submenu_#{key}", { data: { toggle: 'collapse', parent: '#left-side-nav' }, aria: { expanded: is_expanded, controls: "submenu_#{key}" }, class: is_expanded ? 'has-submenu' : 'has-submenu collapsed'  } do %><% if menu_item[:icon] %><%= fa_icon menu_item[:icon], class: 'hidden-xs' %><% end %><%= menu_item[:title] %><% end %>
        <ul id="submenu_<%= key %>" class="submenu collapse <%if is_expanded %>in<% end %>">
<% menu_item[:submenu].each do |k, submenu_item| %>
          <li<%if sidebar_item == k %> class="active"<% end %>><%= link_to submenu_item[:url] do %><% if submenu_item[:icon] %><%= fa_icon submenu_item[:icon], class: 'hidden-xs' %><% end %><%= submenu_item[:title] %><% end %></li>
<% end %>
        </ul>
<% else %>
        <%= link_to menu_item[:url] do %><% if menu_item[:icon] %><%= fa_icon menu_item[:icon], class: 'hidden-xs' %><% end %><%= menu_item[:title] %><% end %>
<% end %>
      </li>
<% end %>
<% if user_signed_in? %>
      <li><%= link_to destroy_user_session_path, method: :delete do %><%= fa_icon 'sign-out', class: 'hidden-xs' %>Logout<% end %></li>
<% end %>
    </ul>
</nav>
